* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #eeeafb, #fff, #d9edf7);
  padding: 32px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 16px;

  p {
    width: 740px;
    text-align: center;
  }
}

/* Toast Container */
#toastContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  opacity: 1;
  animation: slideIn 0.3s forwards, fadeOut 0.5s ease 2.5s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
